@charset "utf-8";
/* https://kuler.adobe.com/main-cxcedar-color-theme-4237607/ */
/* https://kuler.adobe.com/Copy-of-Copy-of-main-cxcedar-color-theme-4361434/ */
// $main-color : #2E313D; //333
$main-color : #333;
$lighter-color : lighten( $main-color, 20% ); //666
$lightest-color : lighten( $main-color, 40% ); //999
$border-color : lighten( $main-color, 67% ); //ddd
$darker-bg-color : lighten( $main-color, 77% ); //f8f8f8
$bg-color : lighten( $main-color, 80% );

$header-color : #9C0; //#B7C11E;
$link-color : #008D00; //#23A38F;
$link-hover-color : darken( $link-color, 20% );

$em-color : #F0563D;

$mark-color: #EFF1C2;

// $font-family : "Helvetica Neue", "Helvetica", Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", SimSun, sans-serif;
$font-family : "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin square($property){
	width: $property;
	height: $property;
}

@mixin top-seprater($pad){
  border-top: $normal-border;
  margin-top: $pad;
  padding-top: $pad;
}

/* don't support so many browser */
@mixin rotate($deg){
  transform:rotate($deg);
  -ms-transform:rotate($deg); 	/* IE 9 */
  -moz-transform:rotate($deg); 	/* Firefox */
  -webkit-transform:rotate($deg); /* Safari å’Œ Chrome */
  -o-transform:rotate($deg); 	/* Opera */
}

@mixin word-break(){
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.box { @include border-radius(10px); }

$normal-border: 1px solid $border-color;
