@charset "utf-8";
.content{
  margin: 0 auto;
  width: 720px;
  word-wrap: break-word;
  word-break: normal;
  .post{
    h2{
      background-color: $header-color;
      padding-left: 5px;
      border: 1px groove $lighter-color;
    }
    blockquote{
      p{
        margin-bottom: 0em !important;
      }
    }
    #comments{
      display: none;
    }
    #tags{
      color: $lightest-color;
    }
  }
}
footer{
  @include top-seprater(2em);
  text-align: center;
}

.modal{
  width: 600px;
  padding: 2em;
  background-color: $bg-color;
}
