@charset "utf-8";
@use "base" as *;
.content{
  margin: 0 auto;
  max-width: 720px;
  .post{
    position: relative;
    .post-header{
      $date-width: 70px;
      .date{
        position: absolute;
        left: -$date-width;
        color: $border-color;
        &:hover{
          color: $lightest-color;
        }
        font-family: $font-google-mono;
        width: $date-width;
        .day-month{
          text-align: center;
          .day{
            font-size: 2em;
            line-height: 1em;
          }
        }
        .year{
          @include rotate(-90deg);
          margin-top: 0.6em;
          font-size: 1.2em;
          margin-left: -0.8em;
        }
      }
    }
    .table-container {
        overflow-x: auto; /* 内容溢出时显示水平滚动条 */
    }
    table {
        width: 100%;
        min-width: 300px; /* 设置最小宽度防止过度压缩 */
    }
    h2{
      background-color: $header-color;
      padding-left: 5px;
      border: 1px groove $lighter-color;
    }
    blockquote{
      p{
        margin-bottom: 0em !important;
      }
    }
    pre{
      @include word-break();
    }
    .comments-hide{
      display: none;
    }
    .footnotes {
        margin-top: 4em;
        opacity: 0.8;
        font-size: 0.8em;
    }
    #additional{
      #tags{
        a{
          margin-right: 0.5em;
        }
      }
      color: $lightest-color;
      padding: 1em 0em 0em;
      border-top: $normal-border;
      a{
        color: $lightest-color;
        border: none;
        &:hover{
          color: $lighter-color;
        }
      }
    }
    figure{
      text-align: center;
      a{border: none;}
    }
  }
}
@media screen and (max-width: 720px) {
    .main {
        max-width: 90%;
        margin: 0 auto;
    }
    .post {
        .date {
            display: none;
        }
    }
}
