@charset "utf-8";
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}

a:hover{
  text-decoration:none;
}

footer{
  border-top: 4px solid black;
  margin-top: 3em;
  padding: 1em 0em;
  text-align: center;
}

header.header-header{
  font-size: 3em;
  text-align: center;
  padding: .5em;
  a{
    #titile-first-part{
      padding: 0.2em;
      border: 1px solid $main-color;
      @include normal-color();
    }
    #titile-last-part{
      padding: 0.2em;
      border: 1px solid $main-color;
      @include reverse-color();
    }
  }
}
nav.header-nav{
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 1.1em;
  padding-bottom: 1.1em;
  border-bottom: 4px solid #000;
  a{
    @include normal-color();
    &:hover{
      @include reverse-color();
    }
  }
}
