@charset "utf-8";
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}

a:hover{
  text-decoration:none;
}

footer{
  font-family: $font-google-mono;
  border-top: 4px solid black;
  margin-top: 1.1em;
  padding: 1.1em 0em;
  text-align: center;
}

.header-header{
  font-family: $font-google-mono;
  font-size: 3em;
  text-align: center;
  padding: 0.7em 0 0.3em;
  a{
    #titile-first-part{
      padding: 0.3em 0.2em 0.1em 0.2em;
      border: 1px solid $main-color;
      @include normal-color();
    }
    #titile-last-part{
      padding: 0.3em 0.2em 0.1em 0.2em;
      border: 1px solid $main-color;
      @include reverse-color();
    }
  }
}
nav.header-nav{
  font-family: $font-google-mono;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 1.1em;
  padding-bottom: 1.1em;
  border-bottom: 4px solid #000;
  a{
    padding: 0em .2em;
    @include normal-color();
    &:hover{
      @include reverse-color();
    }
  }
}

.archive{
  margin-top: 0.5em;
  .archive-date{
    font-family: $font-Georgia;
  }
  a{
    color: $main-color;
    border-bottom: 2px solid $bg-color;
    &:hover{
      border-bottom: 2px solid $main-color;
    }
  }
}

.sentence{
  margin-bottom: 2em;
  .author{
    margin-top: 1em;
  }
}

#title-404{
  color: $em-color;
}
