---
layout: default
---
<div class="post typo">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% include cc.html %}

  {% include tags.html %}

  {% if page.comments %}
     <p><a href="#comments" rel="modal:open">评论</a></p>
    <div id="comments">
      {% include duoshuo_comments.html  %}
    </div>
  {% endif %}
</div>
